install/ecs-cli.asc
!docs/img
.DS_Store
.idx
*.swp
.~*
to/compose/app
to/kubernetes/app
to/kubernetes/template/012-pvc.yaml
install/sessionmanager-bundle
install/*.rpm
install/*/deb
install/gpg-public-key
*.bak
wd
.idea
__pycache__
plots
*.csv
results
*.save
*.pth
*.pkl
*.save
.git-https
